//mixin fff
.immediatly-book
    h2.immediatly-book__header You have successfully booked the table for this evening
    p.immediatly-book__description Your table is the #{tableIndex}th
    button.immediatly-book__button Ok
