doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')

        title Workshop
    body
        header.header
            nav.header__menu
                ul.header__menu-list
                    li.header__menu-li pug
