//include "../../mixins/modal-window.pug"

.gallery
    img.gallery__img(src="./assets/159339425.jpg")
    img.gallery__img(src="./assets/hqdefault.jpg")
    img.gallery__img(src="./assets/puppies_in_socks1.jpg")
    img.gallery__img(src="./assets/Funny-Puppies-01-www.FunnyPica.com_.jpg")
    img.gallery__img(src="./assets/adorable-puppies-cute-puppies-41538703-600-400.jpg")
