form.book-form
    .book-form__field
        label.book-form__input-label(for="input-name") Full name:
        .book-form__input-wrap
            input(type="text" id="input-name" class="book-form__input" required placeholder="Please, enter your full name")
    .book-form__field
        label.book-form__input-label(for="input-date") Select date:
        .book-form__input-wrap
            input(type="date" id="input-date" class="book-form__input" required placeholder="Please, select wished date")
    .book-form__cafe-wrap
        .book-form__cafe
            div(class="book-form__cafe-place booked")
                .book-form__cafe-chair
                    img(src="../../assets/chair.PNG")
                .book-form__cafe-chair
                    img(src="../../assets/table-small.PNG")
                .book-form__cafe-chair--reverced
                    img(src="../../assets/chair.PNG")
            div(class="book-form__cafe-place")
                .book-form__cafe-chair
                    img(src="../../assets/chair.PNG")
                .book-form__cafe-chair
                    img(src="../../assets/table-small.PNG")
                .book-form__cafe-chair--reverced
                    img(src="../../assets/chair.PNG")
            div(class="book-form__cafe-place selected-place")
                .book-form__cafe-chair
                    img(src="../../assets/chair.PNG")
                .book-form__cafe-chair
                    img(src="../../assets/table-small.PNG")
                .book-form__cafe-chair--reverced
                    img(src="../../assets/chair.PNG")
            div(class="book-form__cafe-place booked")
                .book-form__cafe-chair
                    img(src="../../assets/chair.PNG")
                .book-form__cafe-chair
                    img(src="../../assets/table-small.PNG")
                .book-form__cafe-chair--reverced
                    img(src="../../assets/chair.PNG")
    button(class="book-form__submit") Book table
